html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Mattone";
}

a{
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: "Mattone";
    src: url("font/Mattone-Black.woff2") format("woff2");
    src: url("font/Mattone-Bold.woff2") format("woff2");
    src: url("font/Mattone-Regular.woff2") format("woff2");
  }

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

header{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDC144;
}

.container_header{
    width: 1032px;
    display: flex;
    justify-content: space-between;
    font-size: 1.214rem;
}

.container_header a{
    padding: 2vh 0;
}

.container_header a:hover{
    text-decoration: underline;
    text-decoration-thickness: 10px ;
    text-decoration-color: rgb(255, 255, 255) ;
    text-underline-offset: -6px;
    text-decoration-skip-ink: none;
}

footer{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDC144;
}

.container_footer{
    width: 1032px;
    display: flex;
    justify-content: space-between;
    font-size: 1.214rem;
    padding: 4vh 0;
}

.container_footer ul{
    list-style: none;
    display: flex;
    gap: 48px;
    align-items: center;
}

.container_footer a{
    text-decoration: none;
    color: black;
}

.container_footer a:hover{
    text-decoration: underline;
    text-decoration-thickness: 10px ;
    text-decoration-color: rgb(255, 255, 255) ;
    text-underline-offset: -6px;
    text-decoration-skip-ink: none;
}

.accademia_footer a{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.accademia_footer p{
    line-height: 120%;
}

.nomesito{
    font-weight: 600;
    text-transform: uppercase;
}

#home{
    text-decoration: underline;
    text-decoration-thickness: 10px ;
    text-decoration-color: rgb(255, 255, 255) ;
    text-underline-offset: -6px;
    text-decoration-skip-ink: none;
}

.hero{
    height: 92vh;
}

video{
    width: 100%;
    height: 92vh;
    object-fit: cover;
    position: absolute;
}

.frecciagiu{
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    top: -100px;
    fill: white;
}

.frecciagiu:hover{
    fill: #171717;
}

.testohero{
    width: 1032px;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    text-transform: uppercase;
    align-items: center;
    height: 100%;
    margin: auto;    
    text-align: center;
}

.testohero h1{
    font-size: 72px;
    width: 840px;
    line-height: 100%;
}

.pagina{
    display: grid;
    margin: auto;
    gap: 72px;
}

.introduzionehome{
    background-color: #171717;
    width: 100%;
    color: white;
    height: 100vh;
}

.testoinfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    width: 1200px;
    height: 100%;
    margin: auto;
    align-items: center;
}

.intro1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.intro2{
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.testoinfo p{
    font-family: "Bitter", serif;
    line-height: 140%;
    font-weight: 500;
    font-size: 32px;
}

.dipiu{
    grid-row: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
    font-size: 42px;
    text-align: center;
    font-weight: 900
}

.dipiu:hover{
    text-decoration: underline;
    text-decoration-thickness: 32px ;
    text-decoration-color: #d4950c ;
    text-underline-offset: -32px;
    text-decoration-skip-ink: none;
}

h2{
    background-color: #171717;
    padding: 12px 0 12px 12px;
    color: white;
    border-radius: 24px;
    text-align: center;
}
.container_card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.container_card2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 3fr;
    gap: 24px;
}

.card{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    border-radius: 32px;
    color: white;
    padding: 32px 0;
    gap: 8px;
}

h4{
    font-size: 12px;
    font-weight: 100;
    color: #A0A0A0;
}

.card:hover{
    background-color: #FDC144;
    color: #171717;
    transition: .2s;
}   

.card:hover .icona{
    fill: #171717;
}

.card:hover .sottotitolo_tipologia{
    color: #696969;
}

svg{
    fill: rgb(255, 255, 255);
}


.contenuto_home .tipologie{
    display: grid;
    margin: auto;
    gap: 24px;
    width: 1032px;
}

.contenuto_home .ingredienti{
    display: grid;
    margin: auto;
    gap: 24px;
    width: 1032px;
    padding-bottom: 72px;
}

.contenuto_home{
    gap: 48px;
    display: grid;
    padding: 24px 0;
}
