body {
    margin: 0;
    font-family: "Mattone";
}

a{
    text-decoration: none;
    color: black;
}

@font-face {
    font-family: "Mattone";
    src: url("font/Mattone-Black.woff2") format("woff2");
    src: url("font/Mattone-Bold.woff2") format("woff2");
    src: url("font/Mattone-Regular.woff2") format("woff2");
  }

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

header{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDC144;
}

.container_header{
    width: 1032px;
    display: flex;
    justify-content: space-between;
    font-size: 1.214rem;
}

.container_header a{
    padding: 3vh 0;
}

.container_header a:hover{
    text-decoration: underline;
    text-decoration-thickness: 10px ;
    text-decoration-color: rgb(255, 255, 255) ;
    text-underline-offset: -6px;
    text-decoration-skip-ink: none;
}

footer{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDC144;
}

.container_footer{
    width: 1032px;
    display: flex;
    justify-content: space-between;
    font-size: 1.214rem;
    padding: 5vh 0;
}

.container_footer ul{
    list-style: none;
    display: flex;
    gap: 48px;
    align-items: center;
}

.container_footer a{
    text-decoration: none;
    color: black;
}

.container_footer a:hover{
    text-decoration: underline;
    text-decoration-thickness: 10px ;
    text-decoration-color: rgb(255, 255, 255) ;
    text-underline-offset: -6px;
    text-decoration-skip-ink: none;
}

.accademia_footer a{
    display: flex;
    flex-direction: column;
}

.nomesito{
    font-weight: 600;
    text-transform: uppercase;
}

#home{
    text-decoration: underline;
    text-decoration-thickness: 10px ;
    text-decoration-color: rgb(255, 255, 255) ;
    text-underline-offset: -6px;
    text-decoration-skip-ink: none;
}

.hero{
    height: 91vh;
}

video{
    width: 100%;
    height: 91vh;
    object-fit: cover;
    position: absolute;
}

.testohero{
    width: 1032px;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    text-transform: uppercase;
    align-items: center;
    height: 100%;
    margin: auto;    
    text-align: center;
}

.testohero h1{
    font-size: 72px;
    width: 840px;
    line-height: 100%;
}

.pagina{
    width: 1032px;
    display: grid;
    margin: auto;
}

.introduzionehome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 48px 0;
}

.introduzionehome p{
    display: grid;
    grid-column: 1;
    font-family: "Bitter", serif;
    line-height: 140%;
    font-weight:500;
}

.listehome ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 24px;
}

.listehome ul a{
    color: white;
    text-align: center;
}

.listehome li{
    background-color: black;
    height: 10vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.listehome li:hover{
    background-color: rgb(39, 39, 39);
    color: #FDC144;
}